
/bass
/keyboard
/spectrograms_bass
/spectrograms_keyboard
/spectrograms_male
/spectrograms_female
/log_spectrograms_female
/log_spectrograms_male
/log_spectrograms_bass
/log_spectrograms_keyboard
/Male
/Female
image*
.DS_Store
*.pyc
*.zip
*.jpg
*.png
*.json
*tfevents*
*ckpt*
checkpoint
